.landing-page {
  background-color: #f6eee1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .overlap-wrapper {
  background-color: #f6eee1;
  overflow: hidden;
  width: 1440px;
  height: 1601px;
}

.landing-page .overlap {
  position: relative;
  width: 1697px;
  height: 1544px;
  top: 57px;
  left: -169px;
}

.landing-page .white-bg {
  position: absolute;
  width: 1440px;
  height: 824px;
  top: 720px;
  left: 168px;
  background-color: #ffffff;
}

.landing-page .gradient {
  position: absolute;
  width: 1697px;
  height: 296px;
  top: 538px;
  left: 0;
  background-color: #f6eee1;
  filter: blur(34px);
}

.landing-page .hero-section {
  position: absolute;
  width: 1183px;
  height: 642px;
  top: 0;
  left: 299px;
}

.landing-page .overlap-group {
  position: absolute;
  width: 1179px;
  height: 561px;
  top: 81px;
  left: 0;
  background-color: #f4f6f5;
  border-radius: 40.44px;
}

.landing-page .div {
  position: absolute;
  width: 429px;
  height: 425px;
  top: 77px;
  left: 57px;
}

.landing-page .greeting-box {
  width: 340px;
  height: 81px;
  top: 160px;
  left: 8px;
  background-color: #ebd96b;
  position: absolute;
  transform: rotate(-2deg);
}

.landing-page .greeting-box-2 {
  width: 319px;
  height: 77px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  position: absolute;
  transform: rotate(-2deg);
}

.landing-page .hey-there-i-m-xinxin {
  position: absolute;
  width: 404px;
  top: 1px;
  left: 25px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 65.8px;
  letter-spacing: 0;
  line-height: 82.3px;
}

.landing-page .text-wrapper {
  position: absolute;
  width: 404px;
  top: 296px;
  left: 25px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #191818;
  font-size: 17px;
  letter-spacing: -0.85px;
  line-height: normal;
}

.landing-page .contacts-box {
  height: 31px;
  top: 327px;
  left: 904px;
  position: absolute;
  width: 249px;
  background-color: #ffffff;
  transform: rotate(-6.73deg);
}

.landing-page .contacts-box-2 {
  height: 60px;
  top: 368px;
  left: 894px;
  position: absolute;
  width: 249px;
  background-color: #ffffff;
  transform: rotate(-6.73deg);
}

.landing-page .star {
  top: 71px;
  left: 977px;
  position: absolute;
  width: 38px;
  height: 35px;
}

.landing-page .img {
  top: 522px;
  left: 543px;
  position: absolute;
  width: 38px;
  height: 35px;
}

.landing-page .star-2 {
  top: 186px;
  left: 550px;
  position: absolute;
  width: 38px;
  height: 35px;
}

.landing-page .star-3 {
  top: 482px;
  left: 1083px;
  position: absolute;
  width: 38px;
  height: 35px;
}

.landing-page .main-frame {
  width: 1178px;
  height: 42px;
  position: absolute;
  top: 0;
  left: 0;
}

.landing-page .portfolio-logo {
  display: inline-flex;
  align-items: center;
  gap: 8.91px;
  position: absolute;
  top: 1px;
  left: 0;
}

.landing-page .my-personal-logo {
  position: relative;
  width: 22px;
  height: 20px;
  object-fit: cover;
}

.landing-page .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -0.69px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 27.4px;
  letter-spacing: 0.82px;
  line-height: normal;
}

.landing-page .sub-frame {
  display: inline-flex;
  align-items: center;
  gap: 37.02px;
  position: absolute;
  top: 0;
  left: 927px;
}

.landing-page .div-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 44.56px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-3 {
  position: relative;
  width: 92.54px;
  height: 24.68px;
  margin-top: -0.69px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #242323;
  font-size: 15.1px;
  letter-spacing: 0.15px;
  line-height: normal;
}

.landing-page .get-in-touch-logo {
  position: relative;
  width: 120px;
  height: 40px;
}

.landing-page .self-portrait {
  position: absolute;
  width: 428px;
  height: 593px;
  top: 127px;
  left: 903px;
}

.landing-page .text-wrapper-4 {
  position: absolute;
  top: 404px;
  left: 1366px;
  transform: rotate(-6.46deg);
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #242323;
  font-size: 15.1px;
  letter-spacing: 0.15px;
  line-height: normal;
}

.landing-page .text-wrapper-5 {
  position: absolute;
  top: 457px;
  left: 1326px;
  transform: rotate(-6.46deg);
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #535353;
  font-size: 9px;
  letter-spacing: 0.09px;
  line-height: normal;
}

.landing-page .text-wrapper-6 {
  position: absolute;
  top: 483px;
  left: 1331px;
  transform: rotate(-6.46deg);
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #535353;
  font-size: 8px;
  letter-spacing: 0.08px;
  line-height: normal;
}

.landing-page .extra {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 431px;
  left: 1441px;
}

.landing-page .email-logo {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 460px;
  left: 1301px;
}

.landing-page .linkedin-logo {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 483px;
  left: 1307px;
  object-fit: cover;
}

.landing-page .more-about-myself {
  position: absolute;
  width: 1081px;
  height: 492px;
  top: 961px;
  left: 348px;
}

.landing-page .overlap-2 {
  position: absolute;
  width: 1081px;
  height: 402px;
  top: 90px;
  left: 0;
}

.landing-page .technical-skills {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15.83px;
  position: absolute;
  top: 0;
  left: 757px;
}

.landing-page .rectangle {
  position: relative;
  width: 324px;
  height: 346px;
  background-color: #fbfbfb;
  border-radius: 13.2px;
}

.landing-page .text-wrapper-7 {
  position: relative;
  width: 153px;
  height: 25px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #191919;
  font-size: 21.1px;
  letter-spacing: -0.84px;
  line-height: 33px;
  white-space: nowrap;
}

.landing-page .main-section {
  display: flex;
  width: 1081px;
  height: 402px;
  align-items: flex-start;
  gap: 59.38px;
  position: absolute;
  top: 0;
  left: 0;
}

.landing-page .education {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18.47px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .rectangle-2 {
  position: relative;
  width: 319px;
  height: 346px;
  background-color: #fbfbfb;
  border-radius: 13.2px;
}

.landing-page .text-wrapper-8 {
  position: relative;
  width: 211.79px;
  height: 23.75px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #191919;
  font-size: 21.1px;
  letter-spacing: -0.84px;
  line-height: 33px;
  white-space: nowrap;
}

.landing-page .experience {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17.15px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-9 {
  position: relative;
  width: 151.75px;
  height: 23.75px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #191919;
  font-size: 21.1px;
  letter-spacing: -0.84px;
  line-height: 33px;
  white-space: nowrap;
}

.landing-page .heading {
  position: absolute;
  width: 375px;
  height: 38px;
  top: 0;
  left: 0;
}

.landing-page .overlap-group-2 {
  position: relative;
  width: 373px;
  height: 38px;
}

.landing-page .vector {
  position: absolute;
  width: 123px;
  height: 23px;
  top: 15px;
  left: 148px;
}

.landing-page .text-wrapper-10 {
  position: absolute;
  width: 373px;
  top: 0;
  left: 0;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 31.7px;
  letter-spacing: 1.9px;
  line-height: 33px;
  white-space: nowrap;
}

.landing-page .union {
  position: absolute;
  width: 1085px;
  height: 355px;
  top: 1047px;
  left: 344px;
}

.landing-page .education-text {
  position: absolute;
  width: 284px;
  height: 235px;
  top: 1107px;
  left: 366px;
}

.landing-page .first-education {
  position: absolute;
  width: 278px;
  height: 72px;
  top: 0;
  left: 0;
}

.landing-page .rectangle-3 {
  height: 72px;
  position: absolute;
  width: 5px;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
}

.landing-page .text-wrapper-11 {
  position: absolute;
  width: 255px;
  top: 0;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .bachelor-of-arts-in {
  position: absolute;
  width: 242px;
  top: 24px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 11px;
  letter-spacing: -0.44px;
  line-height: 15px;
}

.landing-page .element {
  position: absolute;
  width: 56px;
  top: 57px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 9px;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .span {
  letter-spacing: -0.03px;
}

.landing-page .text-wrapper-12 {
  letter-spacing: 0;
}

.landing-page .second-education {
  position: absolute;
  width: 290px;
  height: 57px;
  top: 101px;
  left: 0;
}

.landing-page .rectangle-4 {
  position: absolute;
  width: 5px;
  height: 56px;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
}

.landing-page .overlap-group-3 {
  position: absolute;
  width: 267px;
  height: 33px;
  top: 24px;
  left: 17px;
}

.landing-page .p {
  position: absolute;
  width: 267px;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 11px;
  letter-spacing: -0.44px;
  line-height: 15px;
}

.landing-page .element-2 {
  position: absolute;
  width: 56px;
  top: 17px;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 9px;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .third-education {
  position: absolute;
  width: 290px;
  height: 57px;
  top: 178px;
  left: 0;
}

.landing-page .text-wrapper-13 {
  letter-spacing: -0.36px;
  position: absolute;
  width: 56px;
  top: 17px;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 9px;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .experience-text {
  position: absolute;
  width: 284px;
  height: 134px;
  top: 1157px;
  left: 744px;
}

.landing-page .first-education-2 {
  position: absolute;
  width: 278px;
  height: 54px;
  top: 0;
  left: 0;
}

.landing-page .rectangle-5 {
  height: 54px;
  position: absolute;
  width: 5px;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
}

.landing-page .text-wrapper-14 {
  position: absolute;
  width: 242px;
  top: 24px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 11px;
  letter-spacing: -0.44px;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .dec-jan {
  position: absolute;
  width: 110px;
  top: 39px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 9px;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .second-education-2 {
  position: absolute;
  width: 290px;
  height: 56px;
  top: 78px;
  left: 0;
}

.landing-page .text-wrapper-15 {
  position: absolute;
  width: 267px;
  top: 24px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 11px;
  letter-spacing: -0.44px;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .text-wrapper-16 {
  position: absolute;
  width: 94px;
  top: 41px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 9px;
  letter-spacing: -0.36px;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .technical-logos {
  position: absolute;
  width: 195px;
  height: 300px;
  top: 1074px;
  left: 1170px;
}



.my-work-page {
    background-color: #f4f6f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .my-work-page .main-section-wrapper {
    background-color: #f4f6f5;
    width: 1440px;
    height: 777px;
  }
  
  .my-work-page .main-section {
    position: relative;
    width: 984px;
    height: 566px;
    top: 106px;
    left: 231px;
  }
  
  .my-work-page .text-wrapper {
    position: absolute;
    top: 536px;
    left: 352px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--font-color);
    font-size: 19.8px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .my-work-page .leading-to-service {
    position: absolute;
    width: 315px;
    height: 397px;
    top: 115px;
    left: 0;
  }
  
  .my-work-page .div {
    position: absolute;
    top: 536px;
    left: 83px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--font-color);
    font-size: 19.8px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .my-work-page .leading-to-product {
    position: absolute;
    width: 315px;
    height: 397px;
    top: 115px;
    left: 331px;
  }
  
  .my-work-page .leading-to {
    position: absolute;
    width: 315px;
    height: 397px;
    top: 115px;
    left: 663px;
  }
  
  .my-work-page .text-wrapper-2 {
    position: absolute;
    top: 536px;
    left: 754px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--font-color);
    font-size: 19.8px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .my-work-page .heading {
    position: absolute;
    width: 553px;
    height: 63px;
    top: 0;
    left: 214px;
  }
  
  .my-work-page .main-heading {
    position: absolute;
    top: 0;
    left: 77px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--font-color);
    font-size: 26.4px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .my-work-page .sub-heading {
    position: absolute;
    width: 549px;
    top: 40px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--font-color1);
    font-size: 16.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }



.photog-page {
background-color: #f6eee1;
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}
.photog-page .div {
background-color: #f6eee1;
width: 1440px;
height: 1165.5px;
position: relative;
}
.photog-page .main-section {
position: absolute;
width: 314px;
height: 68px;
top: 77px;
left: 562px;
}
.photog-page .heading {
position: relative;
width: 318px;
height: 68px;
}
.photog-page .subtitle {
position: absolute;
top: 0;
left: 0;
font-family: "Poppins-SemiBold", Helvetica;
font-weight: 600;
color: var(--color-gray-2);
font-size: 16px;
text-align: center;
letter-spacing: 0;
line-height: 24.0px;
white-space: nowrap;
}
.photog-page .main-title {
position: absolute;
top: 30px;
left: 30px;
font-family: "Poppins-Bold", Helvetica;
font-weight: 700;
color: var(--color-gray-1);
font-size: 32px;
text-align: center;
letter-spacing: 0;
line-height: 38.4px;
white-space: nowrap;
}
.photog-page .photo {
position: absolute;
width: 219px;
height: 292px;
top: 138px;
left: 0;
object-fit: cover;
}
.photog-page .img {
position: absolute;
width: 292px;
height: 218px;
top: 443px;
left: 0;
object-fit: cover;
}
.photog-page .photo-2 {
position: absolute;
width: 351px;
height: 263px;
top: 167px;
left: 234px;
object-fit: cover;
}
.photog-page .photo-3 {
position: absolute;
width: 274px;
height: 205px;
top: 443px;
left: 312px;
object-fit: cover;
}
.photog-page .photo-4 {
position: absolute;
width: 234px;
height: 313px;
top: 214px;
left: 601px;
object-fit: cover;
}
.photog-page .photo-5 {
position: absolute;
width: 249px;
height: 186px;
top: 169px;
left: 847px;
object-fit: cover;
}
.photog-page .photo-6 {
position: absolute;
width: 234px;
height: 175px;
top: 539px;
left: 601px;
object-fit: cover;
}
.photog-page .photo-7 {
position: absolute;
width: 227px;
height: 309px;
top: 603px;
left: 1213px;
object-fit: cover;
}
.photog-page .photo-8 {
position: absolute;
width: 287px;
height: 215px;
top: 372px;
left: 1153px;
object-fit: cover;
}
.photog-page .photo-9 {
position: absolute;
width: 331px;
height: 248px;
top: 107px;
left: 1108px;
object-fit: cover;
}
.photog-page .photo-10 {
position: absolute;
width: 289px;
height: 216px;
top: 371px;
left: 847px;
object-fit: cover;
}
.photog-page .photo-11 {
position: absolute;
width: 251px;
height: 188px;
top: 661px;
left: 334px;
object-fit: cover;
}
.photog-page .photo-12 {
position: absolute;
width: 312px;
height: 233px;
top: 921px;
left: 0;
object-fit: cover;
}
.photog-page .photo-13 {
position: absolute;
width: 312px;
height: 232px;
top: 674px;
left: 0;
object-fit: cover;
}
.photog-page .photo-14 {
position: absolute;
width: 251px;
height: 251px;
top: 866px;
left: 334px;
object-fit: cover;
}
.photog-page .photo-15 {
position: absolute;
width: 350px;
height: 261px;
top: 603px;
left: 849px;
object-fit: cover;
}
.photog-page .photo-16 {
position: absolute;
width: 233px;
height: 311px;
top: 726px;
left: 601px;
object-fit: cover;
}
.photog-page .photo-17 {
position: absolute;
width: 350px;
height: 232px;
top: 876px;
left: 847px;
object-fit: cover;
}
.photog-page .photo-18 {
position: absolute;
width: 226px;
height: 169px;
top: 926px;
left: 1213px;
object-fit: cover;
}
