.landing-page {
  background-color: #f6eee1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .overlap-wrapper {
  background-color: #f6eee1;
  overflow: hidden;
  width: 1440px;
  height: 1601px;
}

.landing-page .overlap {
  position: relative;
  width: 1697px;
  height: 1544px;
  top: 57px;
  left: -169px;
}

.landing-page .white-bg {
  position: absolute;
  width: 1440px;
  height: 824px;
  top: 720px;
  left: 168px;
  background-color: #ffffff;
}

.landing-page .gradient {
  position: absolute;
  width: 1697px;
  height: 296px;
  top: 538px;
  left: 0;
  background-color: #f6eee1;
  filter: blur(34px);
}

.landing-page .hero-section {
  position: absolute;
  width: 1183px;
  height: 642px;
  top: 0;
  left: 299px;
}

.landing-page .overlap-group {
  position: absolute;
  width: 1179px;
  height: 561px;
  top: 81px;
  left: 0;
  background-color: #f4f6f5;
  border-radius: 40.44px;
}

.landing-page .div {
  position: absolute;
  width: 429px;
  height: 425px;
  top: 77px;
  left: 57px;
}

.landing-page .greeting-box {
  width: 340px;
  height: 81px;
  top: 160px;
  left: 8px;
  background-color: #ebd96b;
  position: absolute;
  transform: rotate(-2deg);
}

.landing-page .greeting-box-2 {
  width: 319px;
  height: 77px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  position: absolute;
  transform: rotate(-2deg);
}

.landing-page .hey-there-i-m-xinxin {
  position: absolute;
  width: 404px;
  top: 1px;
  left: 25px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 65.8px;
  letter-spacing: 0;
  line-height: 82.3px;
}

.landing-page .text-wrapper {
  position: absolute;
  width: 404px;
  top: 296px;
  left: 25px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #191818;
  font-size: 17px;
  letter-spacing: -0.85px;
  line-height: normal;
}

.landing-page .contacts-box {
  height: 31px;
  top: 327px;
  left: 904px;
  position: absolute;
  width: 249px;
  background-color: #ffffff;
  transform: rotate(-6.73deg);
}

.landing-page .contacts-box-2 {
  height: 60px;
  top: 368px;
  left: 894px;
  position: absolute;
  width: 249px;
  background-color: #ffffff;
  transform: rotate(-6.73deg);
}

.landing-page .star {
  top: 71px;
  left: 977px;
  position: absolute;
  width: 38px;
  height: 35px;
}

.landing-page .img {
  top: 522px;
  left: 543px;
  position: absolute;
  width: 38px;
  height: 35px;
}

.landing-page .star-2 {
  top: 186px;
  left: 550px;
  position: absolute;
  width: 38px;
  height: 35px;
}

.landing-page .star-3 {
  top: 482px;
  left: 1083px;
  position: absolute;
  width: 38px;
  height: 35px;
}

.landing-page .main-frame {
  width: 1178px;
  height: 42px;
  position: absolute;
  top: 0;
  left: 0;
}

.landing-page .portfolio-logo {
  display: inline-flex;
  align-items: center;
  gap: 8.91px;
  position: absolute;
  top: 1px;
  left: 0;
}

.landing-page .my-personal-logo {
  position: relative;
  width: 22px;
  height: 20px;
  object-fit: cover;
}

.landing-page .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -0.69px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 27.4px;
  letter-spacing: 0.82px;
  line-height: normal;
}

.landing-page .sub-frame {
  display: inline-flex;
  align-items: center;
  gap: 37.02px;
  position: absolute;
  top: 0;
  left: 927px;
}

.landing-page .div-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 44.56px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-3 {
  position: relative;
  width: 92.54px;
  height: 24.68px;
  margin-top: -0.69px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #242323;
  font-size: 15.1px;
  letter-spacing: 0.15px;
  line-height: normal;
}

.landing-page .get-in-touch-logo {
  position: relative;
  width: 120px;
  height: 40px;
}

.landing-page .self-portrait {
  position: absolute;
  width: 428px;
  height: 593px;
  top: 127px;
  left: 903px;
}

.landing-page .text-wrapper-4 {
  position: absolute;
  top: 404px;
  left: 1366px;
  transform: rotate(-6.46deg);
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #242323;
  font-size: 15.1px;
  letter-spacing: 0.15px;
  line-height: normal;
}

.landing-page .text-wrapper-5 {
  position: absolute;
  top: 457px;
  left: 1326px;
  transform: rotate(-6.46deg);
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #535353;
  font-size: 9px;
  letter-spacing: 0.09px;
  line-height: normal;
}

.landing-page .text-wrapper-6 {
  position: absolute;
  top: 483px;
  left: 1331px;
  transform: rotate(-6.46deg);
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #535353;
  font-size: 8px;
  letter-spacing: 0.08px;
  line-height: normal;
}

.landing-page .extra {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 431px;
  left: 1441px;
}

.landing-page .email-logo {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 460px;
  left: 1301px;
}

.landing-page .linkedin-logo {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 483px;
  left: 1307px;
  object-fit: cover;
}

.landing-page .more-about-myself {
  position: absolute;
  width: 1081px;
  height: 492px;
  top: 961px;
  left: 348px;
}

.landing-page .overlap-2 {
  position: absolute;
  width: 1081px;
  height: 402px;
  top: 90px;
  left: 0;
}

.landing-page .technical-skills {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15.83px;
  position: absolute;
  top: 0;
  left: 757px;
}

.landing-page .rectangle {
  position: relative;
  width: 324px;
  height: 346px;
  background-color: #fbfbfb;
  border-radius: 13.2px;
}

.landing-page .text-wrapper-7 {
  position: relative;
  width: 153px;
  height: 25px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #191919;
  font-size: 21.1px;
  letter-spacing: -0.84px;
  line-height: 33px;
  white-space: nowrap;
}

.landing-page .main-section {
  display: flex;
  width: 1081px;
  height: 402px;
  align-items: flex-start;
  gap: 59.38px;
  position: absolute;
  top: 0;
  left: 0;
}

.landing-page .education {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18.47px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .rectangle-2 {
  position: relative;
  width: 319px;
  height: 346px;
  background-color: #fbfbfb;
  border-radius: 13.2px;
}

.landing-page .text-wrapper-8 {
  position: relative;
  width: 211.79px;
  height: 23.75px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #191919;
  font-size: 21.1px;
  letter-spacing: -0.84px;
  line-height: 33px;
  white-space: nowrap;
}

.landing-page .experience {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17.15px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-9 {
  position: relative;
  width: 151.75px;
  height: 23.75px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #191919;
  font-size: 21.1px;
  letter-spacing: -0.84px;
  line-height: 33px;
  white-space: nowrap;
}

.landing-page .heading {
  position: absolute;
  width: 375px;
  height: 38px;
  top: 0;
  left: 0;
}

.landing-page .overlap-group-2 {
  position: relative;
  width: 373px;
  height: 38px;
}

.landing-page .vector {
  position: absolute;
  width: 123px;
  height: 23px;
  top: 15px;
  left: 148px;
}

.landing-page .text-wrapper-10 {
  position: absolute;
  width: 373px;
  top: 0;
  left: 0;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 31.7px;
  letter-spacing: 1.9px;
  line-height: 33px;
  white-space: nowrap;
}

.landing-page .union {
  position: absolute;
  width: 1085px;
  height: 355px;
  top: 1047px;
  left: 344px;
}

.landing-page .education-text {
  position: absolute;
  width: 284px;
  height: 235px;
  top: 1107px;
  left: 366px;
}

.landing-page .first-education {
  position: absolute;
  width: 278px;
  height: 72px;
  top: 0;
  left: 0;
}

.landing-page .rectangle-3 {
  height: 72px;
  position: absolute;
  width: 5px;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
}

.landing-page .text-wrapper-11 {
  position: absolute;
  width: 255px;
  top: 0;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .bachelor-of-arts-in {
  position: absolute;
  width: 242px;
  top: 24px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 11px;
  letter-spacing: -0.44px;
  line-height: 15px;
}

.landing-page .element {
  position: absolute;
  width: 56px;
  top: 57px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 9px;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .span {
  letter-spacing: -0.03px;
}

.landing-page .text-wrapper-12 {
  letter-spacing: 0;
}

.landing-page .second-education {
  position: absolute;
  width: 290px;
  height: 57px;
  top: 101px;
  left: 0;
}

.landing-page .rectangle-4 {
  position: absolute;
  width: 5px;
  height: 56px;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
}

.landing-page .overlap-group-3 {
  position: absolute;
  width: 267px;
  height: 33px;
  top: 24px;
  left: 17px;
}

.landing-page .p {
  position: absolute;
  width: 267px;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 11px;
  letter-spacing: -0.44px;
  line-height: 15px;
}

.landing-page .element-2 {
  position: absolute;
  width: 56px;
  top: 17px;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 9px;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .third-education {
  position: absolute;
  width: 290px;
  height: 57px;
  top: 178px;
  left: 0;
}

.landing-page .text-wrapper-13 {
  letter-spacing: -0.36px;
  position: absolute;
  width: 56px;
  top: 17px;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 9px;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .experience-text {
  position: absolute;
  width: 284px;
  height: 134px;
  top: 1157px;
  left: 744px;
}

.landing-page .first-education-2 {
  position: absolute;
  width: 278px;
  height: 54px;
  top: 0;
  left: 0;
}

.landing-page .rectangle-5 {
  height: 54px;
  position: absolute;
  width: 5px;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
}

.landing-page .text-wrapper-14 {
  position: absolute;
  width: 242px;
  top: 24px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 11px;
  letter-spacing: -0.44px;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .dec-jan {
  position: absolute;
  width: 110px;
  top: 39px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 9px;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .second-education-2 {
  position: absolute;
  width: 290px;
  height: 56px;
  top: 78px;
  left: 0;
}

.landing-page .text-wrapper-15 {
  position: absolute;
  width: 267px;
  top: 24px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 11px;
  letter-spacing: -0.44px;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .text-wrapper-16 {
  position: absolute;
  width: 94px;
  top: 41px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 9px;
  letter-spacing: -0.36px;
  line-height: 15px;
  white-space: nowrap;
}

.landing-page .technical-logos {
  position: absolute;
  width: 195px;
  height: 300px;
  top: 1074px;
  left: 1170px;
}



.my-work-page {
    background-color: #f4f6f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .my-work-page .main-section-wrapper {
    background-color: #f4f6f5;
    width: 1440px;
    height: 840px;
  }
  
  .my-work-page .main-section {
    position: relative;
    width: 984px;
    height: 566px;
    top: 106px;
    left: 231px;
  }
  
  .my-work-page .text-wrapper {
    position: absolute;
    top: 536px;
    left: 352px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--font-color);
    font-size: 19.8px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .my-work-page .leading-to-service {
    position: absolute;
    width: 315px;
    height: 397px;
    top: 115px;
    left: 0;
  }
  
  .my-work-page .div {
    position: absolute;
    top: 536px;
    left: 83px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--font-color);
    font-size: 19.8px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .my-work-page .leading-to-product {
    position: absolute;
    width: 315px;
    height: 397px;
    top: 115px;
    left: 331px;
  }
  
  .my-work-page .leading-to {
    position: absolute;
    width: 315px;
    height: 397px;
    top: 115px;
    left: 663px;
  }
  
  .my-work-page .text-wrapper-2 {
    position: absolute;
    top: 536px;
    left: 754px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--font-color);
    font-size: 19.8px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .my-work-page .heading {
    position: absolute;
    width: 553px;
    height: 63px;
    top: 0;
    left: 214px;
  }
  
  .my-work-page .main-heading {
    position: absolute;
    top: 0;
    left: 77px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--font-color);
    font-size: 26.4px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .my-work-page .sub-heading {
    position: absolute;
    width: 549px;
    top: 40px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--font-color1);
    font-size: 16.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  .my-work-page .back-logo {
  position: absolute;
  width: 121px;
  height: 42px;
  top: 0;
  left: 857px;
}




.service {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.service .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 2414px;
  position: relative;
}

.service .overlap {
  position: absolute;
  width: 1440px;
  height: 1747px;
  top: 753px;
  left: 0;
}

.service .rec {
  position: absolute;
  width: 1440px;
  height: 922px;
  top: 0;
  left: 0;
}

.service .img {
  position: absolute;
  width: 1440px;
  height: 916px;
  top: 724px;
  left: 0;
}

.service .banner {
  position: absolute;
  width: 1200px;
  height: 839px;
  top: 908px;
  left: 139px;
}

.service .overlap-group {
  position: relative;
  height: 839px;
}

.service .text {
  position: absolute;
  width: 879px;
  height: 637px;
  top: 15px;
  left: 0;
}

.service .overlap-2 {
  position: absolute;
  width: 879px;
  height: 409px;
  top: 0;
  left: 0;
}

.service .group {
  position: absolute;
  width: 879px;
  height: 219px;
  top: 0;
  left: 0;
}

.service .overlap-group-2 {
  position: relative;
  width: 877px;
  height: 219px;
}

.service .rectangle {
  position: absolute;
  width: 818px;
  height: 98px;
  top: 14px;
  left: 1px;
  background-color: #f6eee1;
  transform: rotate(-2.01deg);
}

.service .text-wrapper {
  width: 860px;
  top: 12px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 102.7px;
  position: absolute;
  left: 17px;
}

.service .p {
  width: 535px;
  top: 206px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #231300;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 25px;
  position: absolute;
  left: 17px;
}

.service .frame {
  display: flex;
  width: 369px;
  height: 66px;
  gap: 7.83px;
  position: absolute;
  top: 136px;
  left: 17px;
  flex-direction: column;
  align-items: flex-start;
}

.service .text-wrapper-2 {
  position: relative;
  width: 321.08px;
  height: 28.71px;
  margin-top: -0.87px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0.40px;
  line-height: 39.2px;
  white-space: nowrap;
}

.service .text-wrapper-3 {
  position: relative;
  width: 368.06px;
  height: 28.71px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 14px;
}

.service .overlap-wrapper {
  position: absolute;
  width: 201px;
  height: 72px;
  top: 565px;
  left: 17px;
}

.service .div-wrapper {
  position: relative;
  width: 199px;
  height: 72px;
  background-color: #000000;
  border-radius: 6.09px;
}

.service .text-wrapper-4 {
  position: absolute;
  width: 122px;
  top: 20px;
  left: 38px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20.9px;
  letter-spacing: 0.42px;
  line-height: normal;
  white-space: nowrap;
}

.service .star {
  position: absolute;
  width: 563px;
  height: 469px;
  top: 88px;
  left: 637px;
}

.service .recycling {
  position: absolute;
  width: 381px;
  height: 337px;
  top: 0;
  left: 814px;
}

.service .overlap-3 {
  position: relative;
  width: 373px;
  height: 337px;
}

.service .ellipse {
  top: 0;
  left: 71px;
  background-color: #30d8b9;
  border-radius: 115.09px;
  position: absolute;
  width: 230px;
  height: 230px;
  opacity: 0.5;
}

.service .ellipse-2 {
  top: 107px;
  left: 0;
  background-color: #f88080;
  border-radius: 114.88px / 115.09px;
  position: absolute;
  width: 230px;
  height: 230px;
  opacity: 0.5;
}

.service .ellipse-3 {
  top: 107px;
  left: 143px;
  background-color: #a131eb;
  border-radius: 114.88px / 115.09px;
  position: absolute;
  width: 230px;
  height: 230px;
  opacity: 0.5;
}

.service .text-wrapper-5 {
  position: absolute;
  width: 136px;
  top: 69px;
  left: 119px;
  font-family: "PP Neue Montreal Mono-Book", Helvetica;
  font-weight: 400;
  color: #4c4c4c;
  font-size: 15.1px;
  text-align: center;
  letter-spacing: -0.30px;
  line-height: 20.0px;
}

.service .text-wrapper-6 {
  position: absolute;
  width: 136px;
  top: 233px;
  left: 11px;
  font-family: "PP Neue Montreal Mono-Book", Helvetica;
  font-weight: 400;
  color: #4c4c4c;
  font-size: 15.1px;
  text-align: center;
  letter-spacing: -0.30px;
  line-height: 20.0px;
}

.service .text-wrapper-7 {
  position: absolute;
  width: 136px;
  top: 233px;
  left: 223px;
  font-family: "PP Neue Montreal Mono-Book", Helvetica;
  font-weight: 400;
  color: #4c4c4c;
  font-size: 15.1px;
  text-align: center;
  letter-spacing: -0.30px;
  line-height: 20.0px;
}

.service .text-wrapper-8 {
  position: absolute;
  width: 136px;
  top: 173px;
  left: 118px;
  font-family: "PP Neue Montreal Mono-Book", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20.9px;
  text-align: center;
  letter-spacing: -0.42px;
  line-height: 27.6px;
}

.service .overlap-group-wrapper {
  position: absolute;
  width: 550px;
  height: 550px;
  top: 231px;
  left: 524px;
  transform: rotate(-13.93deg);
}

.service .overlap-4 {
  position: relative;
  width: 786px;
  height: 723px;
  top: -129px;
  left: -108px;
}

.service .screen {
  position: absolute;
  width: 297px;
  height: 452px;
  top: 167px;
  left: 243px;
  transform: rotate(13.93deg);
}

.service .vecteezy-woman-hand {
  position: absolute;
  width: 666px;
  height: 580px;
  top: 72px;
  left: 60px;
  transform: rotate(13.93deg);
  object-fit: cover;
}

.service .banner-2 {
  position: absolute;
  width: 1304px;
  height: 496px;
  top: 177px;
  left: 35px;
}

.service .text-2 {
  position: absolute;
  width: 476px;
  height: 496px;
  top: 0;
  left: 830px;
}

.service .overlap-5 {
  position: absolute;
  width: 474px;
  height: 396px;
  top: 0;
  left: 0;
}

.service .group-2 {
  position: absolute;
  width: 465px;
  height: 218px;
  top: 0;
  left: 0;
}

.service .overlap-group-3 {
  position: relative;
  width: 463px;
  height: 218px;
}

.service .rectangle-2 {
  position: absolute;
  width: 460px;
  height: 98px;
  top: 8px;
  left: 2px;
  background-color: #ffffff;
  transform: rotate(-2.01deg);
}

.service .text-wrapper-9 {
  position: absolute;
  width: 444px;
  top: 11px;
  left: 17px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 83.5px;
  letter-spacing: 0;
  line-height: 102.7px;
}

.service .text-wrapper-10 {
  position: absolute;
  width: 457px;
  top: 193px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #231300;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 25px;
}

.service .frame-2 {
  display: flex;
  flex-direction: column;
  width: 421px;
  height: 66px;
  align-items: flex-start;
  gap: 7.83px;
  position: absolute;
  top: 123px;
  left: 17px;
}

.service .text-wrapper-11 {
  position: relative;
  align-self: stretch;
  height: 28px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 14px;
}

.service .group-3 {
  position: absolute;
  width: 201px;
  height: 72px;
  top: 424px;
  left: 17px;
}

.service .overlap-6 {
  position: absolute;
  width: 801px;
  height: 469px;
  top: 1px;
  left: 0;
}

.service .star-2 {
  position: absolute;
  width: 563px;
  height: 469px;
  top: 0;
  left: 104px;
}

.service .inventro {
  position: absolute;
  width: 801px;
  height: 339px;
  top: 72px;
  left: 0;
  object-fit: cover;
}

.service .main-section {
  position: absolute;
  width: 169px;
  height: 38px;
  top: 211px;
  left: 219px;
}

.service .heading {
  position: relative;
  width: 171px;
  height: 38px;
}

.service .main-title {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--color-gray-1);
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 38.4px;
  white-space: nowrap;
}

.service .vouchers {
  position: absolute;
  width: 1011px;
  height: 452px;
  top: 276px;
  left: 215px;
}

.service .product-intro-text {
  display: flex;
  flex-direction: column;
  width: 493px;
  height: 216px;
  align-items: flex-start;
  gap: 44.31px;
  padding: 0px 0px 42px;
  position: absolute;
  top: 82px;
  left: 0;
}

.service .frame-3 {
  display: inline-flex;
  gap: 27.95px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -87.95px;
  flex-direction: column;
  align-items: flex-start;
}

.service .text-wrapper-12 {
  position: relative;
  width: 489px;
  margin-top: -0.68px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 36px;
  letter-spacing: 2.16px;
  line-height: 54px;
}

.service .text-wrapper-13 {
  position: relative;
  width: 400px;
  height: 72px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7c7c7c;
  font-size: 16.4px;
  letter-spacing: -0.65px;
  line-height: 23.9px;
}

.service .service-photo {
  position: absolute;
  width: 457px;
  height: 452px;
  top: 0;
  left: 554px;
}

.service .back-logo {
  position: absolute;
  width: 121px;
  height: 42px;
  top: 142px;
  left: 1105px;
}



.product {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.product .div {
  background-color: #ffffff;
  width: 1440px;
  height: 3049px;
  position: relative;
}

.product .overlap {
  position: absolute;
  width: 1440px;
  height: 2296px;
  top: 753px;
  left: 0;
}

.product .rec {
  position: absolute;
  width: 1440px;
  height: 922px;
  top: 0;
  left: 0;
}

.product .img {
  position: absolute;
  width: 1440px;
  height: 916px;
  top: 724px;
  left: 0;
}

.product .rec-2 {
  position: absolute;
  width: 1440px;
  height: 847px;
  top: 1449px;
  left: 0;
}

.product .banner {
  position: absolute;
  width: 1262px;
  height: 608px;
  top: 1603px;
  left: 77px;
}

.product .text {
  position: absolute;
  width: 552px;
  height: 591px;
  top: 17px;
  left: 712px;
}

.product .overlap-group {
  position: absolute;
  width: 552px;
  height: 398px;
  top: 0;
  left: 0;
}

.product .group {
  position: absolute;
  width: 552px;
  height: 220px;
  top: 0;
  left: 0;
}

.product .overlap-group-2 {
  position: relative;
  width: 550px;
  height: 220px;
}

.product .rectangle {
  position: absolute;
  width: 516px;
  height: 98px;
  top: 9px;
  left: 2px;
  background-color: #ffffff;
  transform: rotate(-2.01deg);
}

.product .text-wrapper {
  position: absolute;
  width: 533px;
  top: 13px;
  left: 17px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 102.7px;
}

.product .p {
  position: absolute;
  width: 533px;
  top: 195px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #231300;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 25px;
}

.product .frame {
  display: flex;
  width: 369px;
  height: 66px;
  gap: 7.83px;
  position: absolute;
  top: 125px;
  left: 17px;
  flex-direction: column;
  align-items: flex-start;
}

.product .text-wrapper-2 {
  position: relative;
  width: 321.08px;
  height: 28.71px;
  margin-top: -0.87px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0.40px;
  line-height: 39.2px;
  white-space: nowrap;
}

.product .text-wrapper-3 {
  position: relative;
  width: 368.06px;
  height: 28.71px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 14px;
}

.product .overlap-wrapper {
  position: absolute;
  width: 201px;
  height: 72px;
  top: 519px;
  left: 17px;
}

.product .div-wrapper {
  position: relative;
  width: 199px;
  height: 72px;
  background-color: #000000;
  border-radius: 6.09px;
}

.product .text-wrapper-4 {
  position: absolute;
  width: 122px;
  top: 20px;
  left: 38px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20.9px;
  letter-spacing: 0.42px;
  line-height: normal;
  white-space: nowrap;
}

.product .btd {
  position: absolute;
  width: 628px;
  height: 536px;
  top: 0;
  left: 0;
}

.product .starrr {
  position: absolute;
  width: 563px;
  height: 469px;
  top: 45px;
  left: 35px;
}

.product .banner-2 {
  position: absolute;
  width: 1241px;
  height: 591px;
  top: 833px;
  left: 139px;
}

.product .text-2 {
  position: absolute;
  width: 496px;
  height: 496px;
  top: 86px;
  left: 0;
}

.product .overlap-2 {
  height: 396px;
  position: absolute;
  width: 494px;
  top: 0;
  left: 0;
}

.product .overlap-group-wrapper {
  width: 471px;
  height: 218px;
  position: absolute;
  top: 0;
  left: 0;
}

.product .overlap-group-3 {
  position: relative;
  width: 469px;
  height: 218px;
}

.product .rectangle-2 {
  width: 466px;
  top: 8px;
  background-color: #f6eee1;
  position: absolute;
  height: 98px;
  left: 2px;
  transform: rotate(-2.01deg);
}

.product .text-wrapper-5 {
  position: absolute;
  width: 444px;
  top: 11px;
  left: 17px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 83.5px;
  letter-spacing: 0;
  line-height: 102.7px;
}

.product .water-is-an {
  position: absolute;
  width: 477px;
  top: 193px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #231300;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 25px;
}

.product .frame-2 {
  top: 123px;
  display: flex;
  flex-direction: column;
  width: 369px;
  height: 66px;
  align-items: flex-start;
  gap: 7.83px;
  position: absolute;
  left: 17px;
}

.product .group-2 {
  top: 424px;
  position: absolute;
  width: 201px;
  height: 72px;
  left: 17px;
}

.product .overlap-3 {
  position: absolute;
  width: 705px;
  height: 591px;
  top: 0;
  left: 536px;
}

.product .starrr-2 {
  position: absolute;
  width: 563px;
  height: 469px;
  top: 109px;
  left: 75px;
}

.product .waterpus {
  position: absolute;
  width: 705px;
  height: 591px;
  top: 0;
  left: 0;
}

.product .overlap-4 {
  position: relative;
  height: 591px;
}

.product .waterpus-2 {
  position: absolute;
  width: 479px;
  height: 359px;
  top: 163px;
  left: 0;
}

.product .waterpus-3 {
  position: absolute;
  width: 429px;
  height: 591px;
  top: 0;
  left: 276px;
}

.product .banner-3 {
  position: absolute;
  width: 1174px;
  height: 494px;
  top: 179px;
  left: 112px;
}

.product .text-3 {
  position: absolute;
  width: 496px;
  height: 494px;
  top: 0;
  left: 680px;
}

.product .overlap-5 {
  height: 394px;
  position: absolute;
  width: 494px;
  top: 0;
  left: 0;
}

.product .group-3 {
  width: 463px;
  height: 216px;
  position: absolute;
  top: 0;
  left: 0;
}

.product .overlap-group-4 {
  position: relative;
  width: 461px;
  height: 216px;
}

.product .rectangle-3 {
  width: 405px;
  top: 7px;
  background-color: #ffffff;
  position: absolute;
  height: 98px;
  left: 2px;
  transform: rotate(-2.01deg);
}

.product .text-wrapper-6 {
  position: absolute;
  width: 444px;
  top: 9px;
  left: 17px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 83.5px;
  letter-spacing: 0;
  line-height: 102.7px;
}

.product .text-wrapper-7 {
  position: absolute;
  width: 477px;
  top: 191px;
  left: 17px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #231300;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 25px;
}

.product .frame-3 {
  top: 121px;
  display: flex;
  flex-direction: column;
  width: 369px;
  height: 66px;
  align-items: flex-start;
  gap: 7.83px;
  position: absolute;
  left: 17px;
}

.product .group-4 {
  top: 422px;
  position: absolute;
  width: 201px;
  height: 72px;
  left: 17px;
}

.product .overlap-6 {
  position: absolute;
  width: 596px;
  height: 472px;
  top: 22px;
  left: 0;
}

.product .starrr-3 {
  position: absolute;
  width: 563px;
  height: 472px;
  top: 0;
  left: 0;
}

.product .repiece {
  position: absolute;
  width: 595px;
  height: 280px;
  top: 71px;
  left: 1px;
  object-fit: cover;
}

.product .main-section {
  position: absolute;
  width: 177px;
  height: 38px;
  top: 211px;
  left: 215px;
}

.product .heading {
  position: relative;
  width: 179px;
  height: 38px;
}

.product .main-title {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--color-gray-1);
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 38.4px;
  white-space: nowrap;
}

.product .main-section-2 {
  position: absolute;
  width: 1011px;
  height: 452px;
  top: 276px;
  left: 215px;
}

.product .product-intro-text {
  display: flex;
  flex-direction: column;
  width: 493px;
  height: 216px;
  align-items: flex-start;
  gap: 44.31px;
  padding: 0px 0px 42px;
  position: absolute;
  top: 82px;
  left: 0;
}

.product .frame-4 {
  display: inline-flex;
  gap: 27.95px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -141.95px;
  flex-direction: column;
  align-items: flex-start;
}

.product .text-wrapper-8 {
  position: relative;
  width: 489px;
  margin-top: -0.68px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 36px;
  letter-spacing: 2.16px;
  line-height: 54px;
}

.product .text-wrapper-9 {
  position: relative;
  width: 440px;
  height: 72px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #7c7c7c;
  font-size: 16.4px;
  letter-spacing: -0.65px;
  line-height: 23.9px;
}

.product .product-photo {
  position: absolute;
  width: 457px;
  height: 452px;
  top: 0;
  left: 554px;
  background-image: url(./img/circles.svg);
  background-size: 100% 100%;
}

.product .product-photo-2 {
  position: absolute;
  width: 415px;
  height: 415px;
  top: 6px;
  left: 32px;
}

.product .back-logo {
  position: absolute;
  width: 121px;
  height: 42px;
  top: 142px;
  left: 1105px;
}



.photog-page {
background-color: #f6eee1;
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}
.photog-page .div {
background-color: #f6eee1;
width: 1440px;
height: 1165.5px;
position: relative;
}
.photog-page .main-section {
position: absolute;
width: 314px;
height: 68px;
top: 77px;
left: 562px;
}
.photog-page .heading {
position: relative;
width: 318px;
height: 68px;
}
.photog-page .subtitle {
position: absolute;
top: 0;
left: 0;
font-family: "Poppins-SemiBold", Helvetica;
font-weight: 600;
color: var(--color-gray-2);
font-size: 16px;
text-align: center;
letter-spacing: 0;
line-height: 24.0px;
white-space: nowrap;
}
.photog-page .main-title {
position: absolute;
top: 30px;
left: 30px;
font-family: "Poppins-Bold", Helvetica;
font-weight: 700;
color: var(--color-gray-1);
font-size: 32px;
text-align: center;
letter-spacing: 0;
line-height: 38.4px;
white-space: nowrap;
}
.photog-page .photo {
position: absolute;
width: 219px;
height: 292px;
top: 138px;
left: 0;
object-fit: cover;
}
.photog-page .img {
position: absolute;
width: 292px;
height: 218px;
top: 443px;
left: 0;
object-fit: cover;
}
.photog-page .photo-2 {
position: absolute;
width: 351px;
height: 263px;
top: 167px;
left: 234px;
object-fit: cover;
}
.photog-page .photo-3 {
position: absolute;
width: 274px;
height: 205px;
top: 443px;
left: 312px;
object-fit: cover;
}
.photog-page .photo-4 {
position: absolute;
width: 234px;
height: 313px;
top: 214px;
left: 601px;
object-fit: cover;
}
.photog-page .photo-5 {
position: absolute;
width: 249px;
height: 186px;
top: 169px;
left: 847px;
object-fit: cover;
}
.photog-page .photo-6 {
position: absolute;
width: 234px;
height: 175px;
top: 539px;
left: 601px;
object-fit: cover;
}
.photog-page .photo-7 {
position: absolute;
width: 227px;
height: 309px;
top: 603px;
left: 1213px;
object-fit: cover;
}
.photog-page .photo-8 {
position: absolute;
width: 287px;
height: 215px;
top: 372px;
left: 1153px;
object-fit: cover;
}
.photog-page .photo-9 {
position: absolute;
width: 331px;
height: 248px;
top: 107px;
left: 1108px;
object-fit: cover;
}
.photog-page .photo-10 {
position: absolute;
width: 289px;
height: 216px;
top: 371px;
left: 847px;
object-fit: cover;
}
.photog-page .photo-11 {
position: absolute;
width: 251px;
height: 188px;
top: 661px;
left: 334px;
object-fit: cover;
}
.photog-page .photo-12 {
position: absolute;
width: 312px;
height: 233px;
top: 921px;
left: 0;
object-fit: cover;
}
.photog-page .photo-13 {
position: absolute;
width: 312px;
height: 232px;
top: 674px;
left: 0;
object-fit: cover;
}
.photog-page .photo-14 {
position: absolute;
width: 251px;
height: 251px;
top: 866px;
left: 334px;
object-fit: cover;
}
.photog-page .photo-15 {
position: absolute;
width: 350px;
height: 261px;
top: 603px;
left: 849px;
object-fit: cover;
}
.photog-page .photo-16 {
position: absolute;
width: 233px;
height: 311px;
top: 726px;
left: 601px;
object-fit: cover;
}
.photog-page .photo-17 {
position: absolute;
width: 350px;
height: 232px;
top: 876px;
left: 847px;
object-fit: cover;
}
.photog-page .photo-18 {
position: absolute;
width: 226px;
height: 169px;
top: 926px;
left: 1213px;
object-fit: cover;
}
